{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
			<div style="float: left;">
				<h1 class="bottom-padding orange"><i>On your way?</i></h1>
				<div class="top-pad" style="width: 300px">
					<p><strong><em>En route</em></strong> makes it easy to share your location and destination with friends and family.</p>
				</div>
				<div class="top-pad">
					<button type="submit" class="btn btn-large large">Sign up with Twitter</button>
				</div>
			</div>
			<div style="float: right;"><!--<img src="static/img/iphone.png" />--></div>
			<div style="clear: both;"></div>
		</div>
		<!--<div class="row-fluid" style="padding-bottom: 10px;">
			<div class="span8">
				<i><h1 class="blue">How it works</i></h1>
			</div>
		</div>-->

{% endblock %}

