{% extends "base.html" %}
{% block body %}
<div class="top-fold light-strip">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1 class="blue tag-line">On your way?</h1>
					<p class="sub-line"><strong><em>En route</em></strong> makes it easy to share your location 
					and destination with friends and family.</p>
				<div class="sub-line">
					<button type="submit" class="btn btn-large large">Sign in with Twitter</button>
				</div>
			</div>
			<div class="span6"><img src="static/img/iphone.png" /></div>
		</div>
	</div>
</div>

<div class="top-pad dark-strip"> 
	<div class="container">
		<div class="row-fluid" style="padding-bottom: 20px;">
			<div class="span3"><!--<h1 style="text-shadow: 0px 1px 0px black;"><i>How it works</i></h1>-->
				<h1 class="icn-leader" style="font-size: 46px; font-family: 'atrament-web';"><i>How it works</i></h1>
			</div>
			<div class="span3" style="font-size: 16px;">
				<i class="icon-search icn-leader out"></i>
				 Once you're signed in with Twitter, 
				 begin a new trip by specifying a destination in the destination bar.
			</div>
			<div class="span3" style="font-size: 16px;">
				<i class="icon-twitter icn-leader out"></i>
				 <strong><em>En route</em></strong> sends out a tweet from your account 
				 containing a URL for your followers to track your progress towards the destination.
			</div>
			<div class="span3" style="font-size: 16px;">
				<i class="icon-road icn-leader out"></i>
				 When you get to your destination, <strong><em>En route</em></strong> 
				 sends out another tweet so your followers know you've arrived 
				 and stops tracking your location.
			</div>
		</div>
	</div>
</div>

<div>
	<div class="container">
		<footer>
			<hr style="border: 0px; border-top: 1px solid #555;">Copyright 2012 Benjamin Malley
		</footer>
	</div>
</div>



{% endblock %}

