{% extends "base.html" %}
{% block head %}
<link href="/static/css/route.css" rel="stylesheet">
{% endblock %}

{% block menu %}
<li class="active"><a id="showmap" href="#">Map</a></li>
<li><a id="showdir" href="#">Directions</a></li>
{% endblock %}

{% block body %}
<div id="map-canvas" class="view top-fold"></div>
<div id="dirlist" class="hidden"><ul></ul></div>
{% endblock %}
{% block post %}
<div class="center">
	<input name="destination-bar" id="destination-bar" class="input-large search-query dest-bar" placeholder="Where are you headed?">
	<button name="begin-btn" id="begin-btn" class="btn btn-large large disabled">I'm on my way!</button>
</div>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=false'></script>
<script type='text/javascript' src="/static/js/route.js"></script>
{% endblock %}
