{% extends "base.html" %}
{% block head %}
<style type="text/css">
@media (max-width: 480px) {
	.center {
		width: 90%;
	}
}
* {
	margin: 0;
}
html, body {
	height: 95%;
}
.wrapper {
	min-height: 90%;
	height: auto !important;
	height: 90%;
	margin: 0 auto;
}
.center {
	margin: auto;
	width: 65%;
}
.dest-bar {
	width: 100%;
	font-size: 1.5em;
	font-family: "nimbus-sans";
	padding: 0px;
}
#begin-btn {
	width: 100%;
	margin-top: 10px;
}
</style>
{% endblock %}
{% block body %}
<div id='map-canvas' class='view'></div>
{% endblock %}
{% block post %}
<div class="center">
	<input name="destination-bar" id="destination-bar" class="input-large search-query dest-bar" placeholder="Where are you headed?">
	<button name="begin-btn" id="begin-btn" class="btn btn-large large disabled">I'm on my way!</button>
</div>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=false'></script>
<script type='text/javascript' src="/static/js/route.js"></script>
{% endblock %}
