{% extends "base.html" %}
{% block head %}
<link href="/static/css/route.css" rel="stylesheet">
<script type="text/javascript">
$(document).ready(function() {
	var map;
	var marker;

	var update = function() {
		$.getJSON('/loc/{{ user }}/', function(d) {
			var position = new google.maps.LatLng(d.lat, d.lng);
			map.setCenter(position);
			marker.setPosition(position);
		});
	};

	(function() { //init
		map = new google.maps.Map($('#map-canvas')[0], {
			center: new google.maps.LatLng(0, 0),
			zoom: 8,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(0, 0),
			map: map,
			title: '{{ user }}',
		});
		update();
		setInterval(update, 10000);
	})();
});
</script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<div id='map-canvas' class="view top-fold"></div>
{% endblock %}

{% block post %}
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=false'></script>
{% endblock %}
